
/*
==================================================================================================================================================================================

										 -------     ---------	    ---------         ---------     -----------
										|			|         |	   |        |		 |		  |    |
										|			|		  |	   |		|        |		  |    |
										|-------	|		  |	   |--------		 |--------     |
										|			|		  |	   | \				 |			   |
										|			|		  |    |   \			 |			   |
										|			|		  |	   |     \ 			 |			   |
										|			 ---------     |       \		 |			    -----------
																			
																			
Resolutions:
> 1024px
> 1355px - 1370px
> 1024px - 1370px
> 1440px - 1920px

====================================================================================================================================================================================
*/

/*------------1024px------------*/

@media screen and (width: 1024px) {
	
/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**ABOUT**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#about {
	
	background: #F3F2F1;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**BG DIVIDER**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**WORK**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#work {
	
	background: #BEB9B5;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**TIMELINE**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#timeline {
	
	background: #F3F2F1;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**TEAM**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#team {
	
	background: #BEB9B5;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**GALLERY**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#gallery {
	
	background: #74828F;
	
}
	
}


/*------------1355px - 1370px------------*/

@media screen and (min-width: 1355px) and (max-width: 1370px){
	
	/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**ABOUT**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#about {
	
	background: #F3F2F1;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**BG DIVIDER**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**WORK**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#work {
	
	background: #BEB9B5;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**TIMELINE**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#timeline {
	
	background: #F3F2F1;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**TEAM**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#team {
	
	background: #BEB9B5;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**GALLERY**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#gallery {
	
	background: #74828F;
	
}

}


/*------------1024px - 1370px------------*/

@media screen and (min-width: 1024px) and (max-width: 1370px){
	
	/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**ABOUT**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#about {
	
	background: #F3F2F1;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**BG DIVIDER**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**WORK**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#work {
	
	background: #BEB9B5;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**TIMELINE**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#timeline {
	
	background: #F3F2F1;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**TEAM**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#team {
	
	background: #BEB9B5;
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**GALLERY**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#gallery {
	
	background: #74828F;
	
}

}


/*------------1440px - 1920px------------*/

@media screen and (min-width: 1440px) and (max-width: 1920px){
	
/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**ABOUT**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#about {
	
	
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**BG DIVIDER**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**WORK**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#work {
	
	
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**TIMELINE**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#timeline {
	
	
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**TEAM**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#team {
	
	
	
}

/*
____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________


																	**GALLERY**

____________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

*/

#gallery {
	
	
	
}
	
}











